*{
	box-sizing: border-box;
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
		padding: 0px;
		margin: 0px;

}

body{
	text-align: center;
	color: white;

}

.wrap{
	width: 1400px;
	margin: 0 auto;

}

header{
	height: 100px;
	background: indigo;
	width: 100%;
	z-index: 12;
	position: fixed;

}

.logo{
	width: 15%;
	float: left;
	line-height: 100px;

}

.logo a{
	text-decoration: none;
	font-size: 20px;
	font-weight: bolder;
	font-family: sans-serif;
	color: white;
	letter-spacing: 5px;

}

.nav{
	width: 48%;
	float: right;
	line-height: 100px;

}

.nav a{
	text-decoration: none;
	font-family: sans-serif;
	letter-spacing: 5px;
	font-size: 15px;
	margin: 0 10px;
	color: white;

}

.nav a:hover{
	color: blue;
	background-color: yellow;
}

.web-banner{
	height: 400px;
	top: 100px;
	background: teal;
	width: 100%;
	position: relative;

}

.banner{
	width: 100%
	top: 100px;
	background: teal;
	position: relative;

}

.banner h1{
	padding-top: 150px;
	font-weight: bold;
	font-size: 60px;
	font-family: sans-serif;
	color: white;
	position: relative;

}

.banner p, .banner i{
	font-size: 30px;
	font-family: sans-serif;
	letter-spacing: 10px;
	color: white;
	position: relative;

}

.category-header{
	height: 200px;
	top: 100px;
	background: orange;
	width: 100%;
	position: relative;

}

.info h1{
	font-weight: bold;
	font-size: 30px;
	font-family: sans-serif;
	letter-spacing: 4px;
	color: white;
	position: relative;

}

.info p{
	top: 0px;
	margin-bottom: 70px;
	font-size: 15px;
	font-family: sans-serif;
	letter-spacing: 1.5px;
	color: black;
	position: relative;

}

/* Simple grid */
.g-row{
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 100%; /*This makes all images in grids to be the size of their cell */
	border-radius: 20px;

}

.g-30{
	width: 30%;
	float: left;
	margin-left: 50px;

}

.show{
	border: 1px solid blue;
	padding: 2px;

}

.padded{
	padding: 20px; /* I add this to cells to add a little padding*/
}
