*{
	box-sizing: border-box;
	/* This makes the widths of elements more consistent */
}

body{
	margin: 0px;
	font-family: sans-serif;
	background-color: #f4ddb4; /* Egg nogg yellow - A very light yellow that won't
														distract behind web content */
}

/* Category section setup */
section{
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	color: #f4ddb4; /* Egg nogg yellow - A very light yellow that won't distract
									behind web content */
}

section p, section h1{
	max-width: 60%;
	margin-left: 200px;
}

/* Main header setup*/
.main-header{
	max-width: 100%;
	background-color: #50b58d; /* Jungle green */
	margin-left: 30px;
	color: #193248; /* Prussian blue - A dark blue shade that makes the header
									title readable against the jungle green */
	padding-top: 50px;
	padding-bottom: 50px;
}

.main-header h1{;
	max-width: 1000px;
	text-align: center;
	font-weight: bold;
	font-size: 37px;
	letter-spacing: 3px;
	margin-left: 20%;
}

.main-header p{
	max-width: 1000px;
	font-size: 20px;
	margin-left: 47%;
	letter-spacing: 3px;
}

/* Section header setup */
.section-header{
	background-color: #d04b38; /* Tigerlily red - A muted red that contrasts
														against the light yellow so that text is readbale */
	padding-top: 15px;
	padding-bottom: 15px;
}

.section-header h1{
	font-size: 25px;
	letter-spacing: 2px;
}

/* Navigation bar setup */
.nav{
height: 100%;
width: 175px;
position: fixed;
top: 0;
bottom: 0;
background-color: #193248; /* Prussian blue - A dark blue shade that contrasts
													against the light yellow text */
overflow-x: hidden;
padding-top: 10px;
}

.nav h3, .nav a{
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: #f4ddb4; /* Egg nogg yellow - A very light yellow that contrasts
									against the dark background */
	font-size: 19px;
	display: : block;
}

.nav a:hover{
	font-size: 22px;
	font-weight: bold;
	color: #4d9cbd; /* Butterfly blue - a medium blue to contrast the dark
									background and the light yellow text, in order to improve
									user interaction with the navigation bar */
}

/* Simple grid */
.g-row{
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 100%;
}

/* Left column setup */
.g-left{
	width: 23%;
	float: left;
	margin-left: 25%;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* Right column setup*/
.g-right{
	width: 23%;
	float: right;
	margin-right: 13%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 20px;
}
