*{
	box-sizing: border-box;
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
		padding: 0px;
		margin: 0px;
}

body{
	margin: 0px;
	font-family: sans-serif;
	background-color: linen;
}

section{
	max-width: 100%;
	margin-top: 150px auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.nav{
width: 100%;
position: fixed;
z-index: 100;
background-color: purple;
overflow-x: hidden;
padding-top: 5px;
padding-bottom: 5px;
text-align: center;
position: absolute;


}

.nav li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 40px;
	text-align: center;border-left: 1px solid coral;

}

.nav a{
margin-left: auto;
margin-right: auto;
text-decoration: none;
color: coral;

font-size: 20px;
display: block;

}

.nav a:hover{
	color: linen;
	background-color: yellow;
}

.topHeader{
	background-color: indigo;
	color: white;
	width: 100%;
}

.topHeader h1{
max-width: 1000px;
margin-left: auto;
margin-right: auto;
padding-top: 30px;
padding-bottom: 30px;
text-align: center;


color: pink;
font-size: 50px;

}

.topHeader p{
max-width: 1000px;
margin-left: auto;
margin-right: auto;
padding-top: 30px;
padding-bottom: 30px;
text-align: center;

color: pink;
font-size: 20px;

}

.categoryHeader{
background-color: grey;
color: linen;
padding-top: 10px;
padding-bottom: 10px;

}

/* Simple grid */
.g-row{
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 100%; /*This makes all images in grids to be the size of their cell */

}

.g-30{
	width: 30%;
	float: left;
	margin-left: 50px;

}

.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 20px; /* I add this to cells to add a little padding*/
}
